.heading{
       padding-left: 5px;

  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 0 16px 0;
        }


/* Subtle badge styling from the wallet component */
    .badge.small {
      font-size: 0.8rem;
    }

    .btn-link {
      vertical-align: baseline;
    }

    

    .border-success-subtle {
      background-color: #d4edda;
      color: #155724;
    }
    .border-danger-subtle {
      background-color: #f8d7da;
      color: #721c24;
    }
    .border-warning-subtle {
      background-color: #fff3cd;
      color: #856404;
    }
    .border-info-subtle {
      background-color: #d1ecf1;
      color: #0c5460;
    }   

    .renew-button {
        border-radius: 8px;
        padding: 8px 160px;
        font-size: 0.9rem;
        background-color: #abeeff;
        border:  1px solid #4e95ff;
        color: #002e74;
    }
    .renew-button:hover {
        background-color: #0d6efd;
        border:  1px solid #0d6efd;
        color: #ffffff;

    }